*{
    margin:0;

}
@media (min-width: 960px){

}
html, body{
    --gray:#E1E1E6;
    --black:  #C4C4CC; 

    height: 100%;
}

body{
    
    display: grid;
    text-align: center;
    place-items: center;
    background:url(image/fundo.png) no-repeat;
    width: 100vw;
    background-size: cover;
}

main{
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 140px;
    background: url(image/main-background.png) no-repeat;
    width: 375px;
    height: 812px;
    
}

.container{
    position: absolute;
    text-align: center;
}

#tie{
    position: absolute;
    top: -151px;
    left: 155px;
}

#quebra{
    left: 139px;
    width: 80px;
    height: 8px;
    top: 16px
}

.avatar{
    margin-top: 56px;
    position: relative;
}

.avatar spam{
    position: absolute;
    top: -15px;
    width: 80px;
    height: 80px;
    z-index: 1;
}

.avatar > img{
    width: 160px;
    height: 184px;
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1{
    font-size: 24px;
    color: var(--gray);
    margin-top: 24px;
}

a{
    font-size: 16px;
    color: var(--black);
    text-decoration: none;
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-top: 9px;
}

p{
    position: relative;
    width: 262px;
    height: 48px;
    left: 48px;
    font-size: 14px;
    color: var(--gray);
    margin-top: 32px;
}

ul{
    list-style: none;
    display: flex;
    padding: 0%;
    margin-top: 30px;
    gap: 8px;
    justify-content: center;
}
